.appContainer {
  width: 100vw;
  height: 100svh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .formCard {
    width: 300px;
    // min-width: 300px;
    min-height: 60svh;
    margin-bottom: 20%;

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 320px) {
  .appContainer {
    .formCard {
      width: auto;
      max-width: 300px;
    }
  }
}
